<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">MY BRAND</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="customer" class="nav-link">Customer</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
