<div class="jumbotron">
  <h1 class="display-4">List Customers</h1>
  <!--  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
  <hr class="my-4">
  <p>Search for a customer by country code</p>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="selectCountry">Countries</label>
        <select class="form-control" id="selectCountry" (change)="selectCountry($event)">
          <option value="-1">Choose Country...</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="selectState">State</label>
        <select class="form-control" id="selectState" (change)="selectState($event)">
          <option value="-1">Choose State...</option>
          <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-outline-secondary" type="button" (click)="searchCustomerCode()"> Search</button>

  </form>
  <!--  <p class="lead">-->
  <!--    <button type="submit" class="btn btn-primary">Submit</button>-->
  <!--  </p>-->
</div>


<hr class="my-4">

<div class="d-flex flex-row-reverse bd-highlight mb-2">
  <div class="p-2 bd-highlight">
    <select (change)="onTableSizeChange($event)" class="custom-select">
      <option *ngFor="let size of tableSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>

<table class="text-center table table-hover table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Country code</th>
    <th>State</th>
    <th>Phone number</th>
  </tr>
  </thead>

  <tbody>
<!--    <tr *ngFor='let customer of customers'>-->
    <tr *ngFor='let customer of customers | paginate: config'>
<!--  <tr *ngFor="let customer of customers | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i == currentIndex">-->
    <td>{{customer.name}}</td>
    <td>{{customer.countryName}}</td>
    <td>{{customer.countryCode}}</td>

    <!-- IF CUSTOMER IS VALID -->
    <td>
      <div *ngIf="customer.stateValid; else invalid">
        <div class="alert alert-success" role="alert">
          Valid
        </div>
      </div>
      <ng-template #invalid>
        <div class="alert alert-danger" role="alert">
          Invalid
        </div>
      </ng-template>
    </td>
    <td>{{customer.phoneNumber}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
<!--  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
  </pagination-controls>-->
  <pagination-controls (pageChange)="changePaginationConfig($event)" id="server"></pagination-controls>

</div>

<div *ngIf="loading">Loading...</div>
